.header {
  height: 70px;
  align-items: center;
  /* background-color: #184a25; */
  background-color: #007bff;
}

.header .header-logo {
  font-size: 30px;
  color: white;
  margin-left: 20px;
}

.header .header-logo:hover {
  text-decoration: none;
}
